# Environment variables
.env

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Distribution
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db